@inherits LayoutComponentBase

<PageTitle>SyncfusionScope</PageTitle>

<div class="page">
    <div style="background-image:none;background-color:#303c44;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-image:none;background-color:#b0dc14;">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
